*{
    margin: 0;
    font-family: Rubik, sans-serif;
    box-sizing: border-box;
}
body {
    padding: 90px 20px 0;
}

header{
    background-color: #193C9C;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header h1{
    color: #ffff;
    padding: 30px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}


.nav-ul{
    top: 12%;
    list-style-type: none;
    text-align: center;
    position: fixed;
    /* padding: 1px; */
    background-color: #0F235C;
    width: 100vw;
    /* padding: 10px; */


}

.nav-ul__li{
    float: left; 
}

.nav-ul__li a{
    text-decoration: none;
    text-align: center;
    color:#ffff;
    /* margin: 8px; */
    padding: 12px;
    transition: 0.5;
    font-size: 1,5em;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-ul__li a:hover{
    color: #0F235C;
    background-color:#ffff;
}

a.active{
    color: #0F235C;
    font-weight: bold;
    background-color: lightsteelblue;
    padding: 12px;
}

.nav-form__input{
    float: right;
    position: relative;
    margin-top: 20px;
    margin-right: 70px;

    text-align: center;
    height: 32px;
    width: 300px;
    border-radius: 5px;
    text-align: left;
    text-transform: uppercase;
    width: max-content;
}


/* boton hamburguesa*/
.nav-ul-hbtn {
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    font-size: 2em;
    padding: 0 20px;
    line-height: 60px;


    /* Ocultamos el boton hamburguesa */
    display: none;
}




.sec-frase{
    display: block;
    position: relative;
    margin-top: 350px;
    margin-left: 20px;
    text-transform: uppercase;
    width: max-content;
}

.sec-frase__h3{
    font-size: 40px;
    text-transform: uppercase;
    width: max-content;
}

.sec-frase__p{
    font-size: 20px;
    margin-left: 5px;
    text-transform: uppercase;
    width: max-content;
}


footer{
    text-align: center;
    color:#ffff;
    background-color: #0F235C;
    width: 100vw;
    bottom: 0;
    height: 2em;
    position: fixed;
}

.li-footer{
    list-style-type: none;
    color: #ffff; 
    float: left;

    /* padding: 0.5em; */
}

.li-footer a{
    text-decoration: none;
    color:#ffff;
    display: inline-block;
    margin-left: 8px;
    width: max-content;
}

@media(max-width: 768px) {
    body {
        padding-top: 70px; 
    }
    
    header {
       
        height: 60px;
    }
    
    .h1 {
        font-size: 1.6em;
        padding: 0 20px; /*arriba y abajo 0, izquierda derecha 40*/
        line-height: 60px; /*para centrar el texto en el eje horizontal*/
    }

    .nav-ul {     
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: center; 
        margin-right: 20px;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px); 
        overflow-y: auto;

        left: 100%; 
        transition: lef 0.3s;
    }
    
    .nav-ul__li {
        line-height: 70px;
    }
    
    .nav-ul__li:hover,
    .nav-ul__li {
        background: none;
        color: #83c5f7;
    }

    .nav-ul-hbtn{
        display: block;
        
    }

    .nav-ul-hbtn_v {
        left: 0;
    }

    .nav-ul-hbtn:focus:not(:focus-visible) {
        outline: none;
    }
}

